<app-nav-bar></app-nav-bar>
<div class="bg-image" style="background-image: url('https://previews.123rf.com/images/alenast/alenast1508/alenast150800011/43584702-vector-colorful-background-with-triangles-dots-with-connection-for-your-business-presentstion-slides.jpg'); height: 100vh; width: 100vw;">   

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">ProductName</label>
                    <input name="productname" [(ngModel)]="productname" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Image</label>
                    <input name="image" [(ngModel)]="image" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Category</label>
                    <input name="category" [(ngModel)]="category" type="text" class="form-control">
                </div>
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Price</label>
                    <input name="price" [(ngModel)]="price" type="number" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Description</label>
                    <textarea name="description" [(ngModel)]="description" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readValues()" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
