<app-nav-user></app-nav-user>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3 m-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Product Name</label>
                    <input type="text" name="productname" [(ngModel)]="productname" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readValues()" class="btn btn-success">Search</button>

                </div>
            </div>
            
            <div class="row g-3 m-4">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of data">

                    <div class="card" >
                        <img height="150px" width="150px" src={{i.image}} class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Product Name:{{i.productname}}</h5>
                        <p class="card-text">Category:{{i.category}}</p>
                        <p class="card-text">Price{{i.price}}</p>
                       
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
